@charset "utf-8";
@import url("fontawesome-free/css/all.css");
@import url("normalize.css");





*{
    
    margin: 0px;
    padding: 0px;
    font-family: arial, verdana, sans-serif;
/*     outline: 1px dotted red; */
    

}
html{
    height: 100%;
}
body{
    min-height: 100%;
    background: rgb(10,38,71);
    background: -moz-linear-gradient(180deg, rgba(10,38,71,1) 21%, rgba(32,82,149,1) 61%, rgba(44,116,179,1) 94%);
    background: -webkit-linear-gradient(180deg, rgba(10,38,71,1) 21%, rgba(32,82,149,1) 61%, rgba(44,116,179,1) 94%);
    background: linear-gradient(180deg, rgba(10,38,71,1) 21%, rgba(32,82,149,1) 61%, rgba(44,116,179,1) 94%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0a2647",endColorstr="#2c74b3",GradientType=1);
    
}
.container{
    margin: auto ;
    max-width: 857px;
    min-height: 730px;
    padding-top: 10px;
}
/* div{
    display: inline-block;
    vertical-align: top;
} */
#header{
  
    width: 857px;
    height: 70px;
    margin: 0px 10px 10px 0px;
   
}
#header div{
    display: inline-block;
    vertical-align: top;
}
img,ul li,ul{
    display: inline-block;
}
#logo{
    width: 327px;
    height: 69px;
    object-fit: contain;
    background-color:blanchedalmond;
    overflow: hidden;

}
#headerUl{
    margin-left: 275px;
    margin-top: 30px;
}
li{
    margin-left: 8px;
}
#navUl li a{
  text-decoration:none;
  font-weight:bold;
  color: #243763;
}
#headerUl i{
  color: blue;
}

#upic{
    display: inline-block;
    height: 60px;
    width: 60px;
    border-radius: 30px;
    object-fit: contain;
    vertical-align: top;
    margin-left: 70px;
    background-color:burlywood;

}
#nav{
    width: 835px;
    min-height: 20px;
    margin: 0px 10px 10px 0px;
    padding: 10px;
    background-color: #FFC93C;
    border-radius: 5px;
}
#navUl{
    margin-left: 10px;
}
.navLi{
    margin-left: 44px;
}
#content{
    width: 845px;
    min-height: 483px;
    padding: 0px 4px 0px 6px;
    background: rgb(132,173,221);
    background: -moz-linear-gradient(180deg, rgba(132,173,221,1) 6%, rgba(174,197,224,1) 42%, rgba(132,173,221,1) 95%);
    background: -webkit-linear-gradient(180deg, rgba(132,173,221,1) 6%, rgba(174,197,224,1) 42%, rgba(132,173,221,1) 95%);
    background: linear-gradient(180deg, rgba(132,173,221,1) 6%, rgba(174,197,224,1) 42%, rgba(132,173,221,1) 95%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#84addd",endColorstr="#84addd",GradientType=1);
    border-radius: 10px;
}
#contentRight{
    display: inline-block;
    vertical-align: top;
    width: 180px;
    height: 454px;
    border: 1px solid black;
    padding: 13px;
}
.contentHeader{
    width: 176px;
    height: 135px;
    margin-bottom: 12px;
    border: 1px solid black;
}
#contentLeft{
    display: inline-block;
    width: 600px;
    height: 481px;
    margin-left: 31px;
}
#promotionalB{
    width: 598px;
    height: 72px;
    border: 1px solid black;
}
h1{
    font-size: 22px;
    margin: 20px;
    padding-left: 15px;
}
#content2nd{
    
    width: 598px;
    min-height: 307px;
    border: 1px solid black;
    margin: 15px 0px;
}
#content3rd{
    width: 600px;
    height: 69px;
}
.lowerBanner{
    height: 69px;
    width: 189px;
    background-color: aqua;
}
#midB{
    margin: 0px 12px;
}
.insideContent2nd{
    display: inline-block;
    width: 263px;
    height: 283px;
    margin-left: 21px;
    margin-top: 12px;
    border: 1px solid black;
}
.contentImg{
    width: 239px;
    height: 207px;
    margin: 0px 5px 0px 12px;
    background-color: aqua;
}
.contentH2{
    padding: 15px;
}
p{
    font-size: 8px;
    padding: 0px 15px;
}
.headerH2{
    padding: 7px;
    padding-left: 18px;
}
button{
    width: 77px;
    height: 26px;
    margin: 6px 5px 0px 85px;
}

.color-change-3x {
	-webkit-animation: color-change-3x 4s linear infinite alternate both;
	        animation: color-change-3x 4s linear infinite alternate both;
}
/* ----------------------------------------------
 * Generated by Animista on 2023-1-6 15:52:45
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation color-change-3x
 * ----------------------------------------
 */
 @-webkit-keyframes color-change-3x {
    0% {
      background: #2C74B3;
    }
    50% {
      background: #205295;
    }
    100% {
      background: #144272;
    }
  }
  @keyframes color-change-3x {
    0% {
        background: #2C74B3;
    }
    50% {
    background: #205295;
    }
    100% {
    background: #144272;
    }
  }


@media only screen and (max-width: 521px) {
   * {
    box-sizing: border-box;
   }
   
   
    #logo {
        background-color: red;
        display: block;
        width:500px
    }
    #nav {
        width: 500px;
       li {
        display: block;
        text-align: left;
        margin-left: 0;
       }
       a:hover {
        background: black;
        color: white;
       }
    }
   #headerUl {
    position: absolute;
    top: 120px;
   }
   #upic {
    position: absolute;
    top: 130px;
    right: 10px;
   }
   #contentRight {
    text-align: center;
       width: 450px;
    .contentHeader {
        margin: auto;
        width: 300px;
        margin-bottom: 10px;
    }
    
   }

 #contentLeft {
    width: 450px;
    margin: 0;
    margin-top: 10px;
    #promotionalB {
        width: 450px;
    }
    #content2nd {
        text-align: center;
        width: 450px;
       .insideContent2nd {
        display: block;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px;
        width: 300px;
       }
    }
 }

 #content3rd {
    width: 450px;
   .lowerBanner {
    display: block;
    width: 100%;
    margin: 0;
   }
 }
}